.profile__page {
    &-toolbar {
        padding: 20px;
        background-color: blueviolet;
        color: white;
    }

    &-table {
        margin: 20px 10px 0 10px;

        .select__all--column {
            width: 120px;
        }

        .delete__all--icon {
            margin-top: 6px;
            margin-left: 20px;
        }

        .flex__row {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &-search--input {
        margin-top: 20px;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
}

table {
    width: 100%;

    tr:hover {
        background-color: rgb(231, 228, 228);
    }

    .mat-form-field {
        height: 25px;
        width: 60% !important;
    }

    .mat-icon {
        cursor: pointer;
        margin-right: 10px;
    }
}
