.mat-form-field {
    width: 100% !important;
}

mat-toolbar {
    box-shadow: 0px 2px 2px #00000029;
}

.snack-error {
    background-color: red !important;
    color: white;
}

.snack-success {
    background-color: green !important;
    color: white;
}

.mat-simple-snackbar-action {
    color: white !important;
}
