html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    scroll-behavior: smooth;
    overflow: hidden;
}

@import "styles/util.scss";
@import "styles/theme";
@import "styles/mat-reset.scss";
